@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

 .site-header {
  background: url(../images/backgrounds/paper.jpg) no-repeat center center/cover;
}

#about .container{
  padding: 25px;
}
