@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

 .site-header {
  background: url(../images/backgrounds/contact.jpg) no-repeat center center/cover;
}

/* 
 * 6.2 Section: Facts
 */
.facts i {
  color: #000;
  font-size: 4em;
}
.facts h3 {
  color: #000;
  text-align: center;
  font-weight: 400;
}

.facts h4 {
  color: #000;
  text-align: center;
  font-weight: 400;
}

.section {
  padding: 70px 0;
}

.section-title {
  color: #313131;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
}