@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

 .site-header {
  background: url(../images/backgrounds/tower.jpg) no-repeat center center/cover;
}

body{
  font-family: "Microsoft YaHei" , "微軟正黑體" , "文泉驛微米黑" , "黑體-繁";
}

@media (max-width: 768px) {
  .site-header .intro h1 {
    margin-top: 0px;
    font-size: 3em;
    font-weight: 100;
  }  
  .site-header .intro .subtitle {
    font-size: 2em;
    font-weight: 100;
  }
}

.section{
  padding: 5vh;
}

#about .container{
  padding: 25px;
}

.partner .partner-box {
  display: block;
  height: 150px;
  width: 150px;
  margin: 25px auto;
}

.partner-box img{
  height: 150px;
  width: 150px;
}

.top-partner{
  margin: 40px;

}

.top-partner div a img{
  width: 750px;
}

.host img{
  width: 300px;
}

.contribution{
  background: #1F305E;
  color: #fff;
  text-align: center;
}

.schedule{
  background: #1F305E;
  color: #fff;
  text-align: center;
}

.speakers h1{
  text-align: center;
}

.faq{
  background: #1F305E;
}
.faq h1{
  text-align: center;
  color: #fff;
}

.agenda{
  background-color: #fff;
}

.agenda td{
  color: #000;
  text-align: center;
}

.ion{
  font-size: 4em;
}

.important-time{
  text-align: center;
}

.btn-white{
  background-color: #fff;
}