@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,700);

 .site-header {
  background: url(../images/backgrounds/news.jpg) no-repeat center center/cover;
}
.site-header {
  width: 100%;
  height: 80vh;
  min-height: 80vh;
}
.site-header .intro {
  height: 90vh;
}

#about .container{
  padding: 25px;
}
